DATABASE_URL=postgres://postgres:postgres@localhost:5432/creatoros
DATABASE_SSL=false
JWT_SECRET=run-this-command-'openssl rand -base64 32'-in-terminal-and-paste-the-output-here
APP_URL=http://localhost:3000
PORT=3000
